@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: rgb(225, 247, 255);
}
.main {
  padding-top: 2rem;
  max-width: 45rem;
  margin: 0 auto;
}
.main-title {
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
}
.main-title span {
  position: relative;
}
.main-title span::after {
  content: "";
  position: absolute;
  background-color: blue;
  height: 2px;
  width: 6.5rem;
  top: 2rem;
  left: 0;
}
.main-title span::before {
  content: "";
  position: absolute;
  background-color: blue;
  height: 2px;
  width: 6.5rem;
  top: 2.3rem;
  left: 0;
}
.form {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 20px;
  padding: 2rem;
  max-width: 40rem;
  min-height: 10rem;
  margin: 5rem auto;
  background-color: rgb(135, 167, 255);
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all linear 1s;
}
.form input {
  display: block;
  max-width: 2rem;
}
.form p + p {
  margin-top: 1rem;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(215, 255, 168);
  width: 250px;
  margin: 17px auto 5px;
  border: 2px solid #beeec2;
  border-radius: 1px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.number-error {
  margin-top: 10px;
  color: rgb(168, 18, 18);
  font-size: 16px;
  border: 1px solid rgb(255, 50, 50);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  transition: all 1s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.error {
  visibility: visible;
  opacity: 1;
}
.alert-message {
  margin: 25px auto 0;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid blue;
  border-radius: 3px;
  transition: all ease-in-out 1s;
  opacity: 0;
}
.show {
  opacity: 1;
}
.alert {
  font-size: 22px;
  text-align: center;
  color: red;
}
.close-btn {
  color: red;
  border: 1px solid rgb(32, 32, 189);
  border-radius: 5px;
  background-color: rgb(127, 187, 255);
  width: 30px;
  height: 30px;
}
.wrapper-1 {
  margin-top: 0;
  display: flex;
  align-items: center;
}
.wrapper-1 label {
  margin: 8px 0 0 5px;
}
.wrapper-1 input {
  margin: 8px 0 0 5px;
}
.number {
  margin-left: 5px;
}
.user-sign {
  margin-left: 7px;
}
.btns {
  max-width: 70px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.btn-general {
  display: block;
  font-size: 22px;
  font-weight: 500;
  margin: 1rem auto 0;
  padding: 0.5rem;
  background-color: transparent;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  border: 1px solid blue;
  background-color: rgb(61, 61, 179);
  transition: all 0.5s ease-in;
}
.restart {
  color: rgb(38, 211, 153);
}
.btn {
  color: rgb(255, 91, 91);
}
.btn:hover,
.restart:hover {
  background-color: rgb(132, 132, 243);
}
.result {
  display: none;
}
.result p {
  margin-top: 1rem;
}

@media screen and (max-width: 620px) {
  .form {
    max-width: 30rem;
  }
  .number-error {
    font-size: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .form {
    font-size: 1rem;
    padding: 1rem;
    max-width: 20rem;
  }
  .main-title {
    font-size: 1.2rem;
  }
  .main-title span::after {
    height: 1px;
    width: 4rem;
    top: 1.5rem;
  }
  .main-title span::before {
    height: 1px;
    width: 4rem;
    top: 1.7rem;
  }
  .alert-message {
    max-width: 18rem;
  }
  .alert {
    font-size: 1rem;
  }
  .number-error {
    font-size: 0.8rem;
  }
}
